

/*顶部内容样式区域Start*/
.land-header{
	height:98px;
	border-bottom:2px solid #f64545;
	background:#fff;
	padding:25px 0;
	overflow:hidden;
	margin-bottom:12px;
	}
.logobox{
	float:left;
	width:140px;
	min-height:20px;
	overflow:hidden;
	}	
.logobox img{
	display:block;
	margin:0;
	}	
.land-header h1{
	float:left;
	margin-left:46px;
	font-size:30px;
	line-height:45px;
	color:#666;
	}

/*顶部内容样式end*/


/*找回密码界面主题内容样式区域start*/
.main-column{
	overflow:hidden;
}
.main-content{
	width:100%;
	margin:0 auto;
	background:#fff;	
	overflow:hidden;
	}	
.main-back{
	float:left;
	width:248px;
	min-height:360px;
	overflow:hidden;
	}	
.main-back img{
	display:block;
	margin:0;
	}	
.form-horizontal{
	width:400px;
	padding:35px 0 0 0;
	margin:0 auto;
	}	
	
.form-horizontal .form-group{
	margin:0;
	width:100%;
	margin:15px auto;
	}	
.form-group label{
	margin:0;
	width:18%;
	font-weight:normal;
	font-family:'宋体';
	font-size:14px;
	line-height:36px;
	text-align:right;
	color:#666;
	}	
.form-group input{
	width:80%;
	height:36px;
	border:none;
	border:1px solid #eee;
	font-family:'宋体';
	font-size:16px;
	line-height:36px;
	text-indent:4px;
	color:#666;
	outline:0;
	}	
.form-group input.verfit{width:50%;}	
.form-group h6{
	display:inline-block;
	width:29%;
	height:36px;
	background:#fff4f4;
	border:1px solid #f64545;
	font-family:'宋体';
	font-size:16px;
	line-height:36px;
	text-align:center;
	color:#f64545;
	cursor:pointer;
	}
.form-header{
	width:576px;
	margin:15px 0;
	font-family:'宋体';
	font-size:14px;
	line-height:32px;
	text-align:center;
	color:#999;
	position:relative;
	left:50%;
	margin-left:-288px;
	}
.form-header span{
	display:inline-block;
	margin:0 45px;
	}
.text-line{
	display:inline-block;
	width:180px;
	border-top:1px solid #eee;
	vertical-align:middle;	
	}	
.landbtn{
	clear:both;
	display:block;
	width:135px;
	height:46px;	
	margin:60px auto;
	border-radius:0;
	background:#f64545;	
	font-family:'宋体';
	font-size:20px;	
	color:#fff;
	outline:0;	
	}
.landbtn:hover,.landbtn:focus{outline:0;color:#fff;}

/*找回密码界面主题样式end*/





/*底部网站链接及版权所有内容样式区域start*/

.down-back{margin:20px 0;}
.back-list{
	width:690px;
	margin:0 auto;
	overflow:hidden;
	}
.back-list li{
	float:left;
	font-family:'宋体';
	font-size:12px;
	line-height:24px;
	text-align:center;
	color:#999;	
	}
.back-list li:hover a{color:#fc6a6a;}
.back-list li span{
	float:right;
	margin:0 10px;
	}
.back-list li a{color:#999;}
	
.copy-right{
	clear:both;
	font-family:'宋体';
	font-size:12px;
	line-height:24px;
	text-align:center;
	color:#999;
	}	

/*底部网站链接及版权所有样式end*/



/*响应式布局样式区域*/

@media screen and (max-width:767px) {
	
	.land-header{height:68px;padding:18px 0;}
	.logobox{width:100px;}
	.land-header h1{margin-left:18px;font-size:24px;line-height:36px;}
	
	.main-content{width:98%;margin:0 auto;}
	.form-horizontal{width:460px;padding-top:10px;}
	.form-horizontal .form-group{width:90%;margin:15px auto;}
	.form-group input{font-size:14px;}
	.landbtn{margin:18px auto;}
	.form-header{width:440px;margin:0 auto;position:inherit;left:0;margin-left:0;}
	.form-header span{margin:0 30px;}
	.text-line{width:126px;}	
	
	.back-list{width:100%;padding:0 1%;}
	
	}
	
@media screen and (max-width:480px) {
	
	
	
	.main-content{width:98%;margin:0 auto;}
	.form-horizontal{width:100%;padding-top:5px;}
	.form-horizontal .form-group{width:95%;margin:15px auto;}
	.form-group label{display:block;width:100%;text-align:left;}
	.form-group input{font-size:14px;width:100%;}
	.form-group input.verfit{float:left;width:64%;}
	.form-group h6{width:36%;float:left;}
	.landbtn{margin:18px auto;}
	.form-header{width:100%;margin:0 auto;position:inherit;left:0;margin-left:0;}
	.form-header span{margin:0;width:50%;}
	.text-line{width:20%;}	
	
	.back-list{width:100%;padding:0 1%;}
	.back-list li{width:20%;margin:5px 0;}	
	.back-list li span{display:none;}	
	.copy-right{line-height:18px;}
	
	
	}

